.margin-top{
margin-top: 10px;
}

.flex-container-basic{
display:flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}

.flex-child-imgthumb{
flex-basis: 100px;
margin-left:5px;
margin-right: 5px;
height: 100px;
margin-bottom: 18px;
}

.fixed-size-img{
height:100px !important;
}