<div class="row">
    
<!-- Old form non-bootstrap
<form action="/uploadnewimage" enctype="multipart/form-data" method="post">
    
Add a title: 
<input name="title" type="text" />
    <br><br>
<input multiple="multiple" name="image" type="file" />
    <br><br>
<input type="submit" value="Upload" />

</form>
-->
</div>
<!-- imgthumbnail is a seperate component used to style the individual preview boxes.-->
<div *ngFor="let recentimages of recentimagesarray">
    <div class="margin-top flex-container-basic">
    <imgthumbnail  class = "flex-child-imgthumb" *ngFor="let recentimage of recentimages" [image] = "recentimage"></imgthumbnail> 
    </div>
</div>