<nav class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="/" routerLinkActive="active">Image Site</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav" *ngIf="globalhttp.isUserLoggedIn == true">
            <li (click)="imagesubmitmodal.toggleModal()"><a>Upload Image<span class="sr-only">(current)</span></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li *ngIf="globalhttp.isUserLoggedIn == false" (click)="userregistrationmodal.toggleModal()" ><a>Register</a></li>
            <li *ngIf="globalhttp.isUserLoggedIn == false" (click)="userloginmodal.toggleModal()"><a>Login</a></li>
            <li *ngIf="globalhttp.isUserLoggedIn == true">
            <a routerLink="/user/{{globalhttp.username}}" routerLinkActive="active" >{{globalhttp.username}}</a>
            </li>
        </ul>
    </div>
</nav>
<userloginform #userloginmodal></userloginform>
<imgsubmitform #imagesubmitmodal></imgsubmitform>
<userregistrationform #userregistrationmodal></userregistrationform>