<form class="navbar-form navbar-right" role="login" (ngSubmit)= "onSubmit()" method="POST" action="/users/registernewuser" #navbaruserloginform>
    <div class="form-group">
    <input type="text" class="form-control" placeholder="Username" name="username" oninvalid="this.setCustomValidity('Please enter your username.')" required>        
    </div>
    <div class="form-group">
    <input type="password" class="form-control" placeholder="Password" name="password" oninvalid="this.setCustomValidity('Please enter your password.')" required>        
    </div>
    <button type="submit" class="btn btn-default">Login</button>
    </form>